$primaryColor: #20ee80;
$primaryColor2: #20ee8015;
$background: #070e1b;

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main {
    margin: 80px 20px 20px 20px;
}

.paragraph {
    color: $primaryColor;
}

.headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 60px;
    color: white;
    margin: 0;
}

.header {
    margin: 20px;
}