$primaryColor: #20ee80;
$primaryColor2: #20ee8015;
$background: #070e1b;

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main {
    margin: 80px 20px 20px 20px;
}

.paragraph {
    color: $primaryColor;
}

.headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 60px;
    color: white;
    margin: 0;
}

.header {
    margin: 20px;
}

.line {
    position: absolute;
    border-right: solid 2px $primaryColor;
    border-bottom: solid 2px $primaryColor;
    height: 200px;
    width: 150px;
    top: 280px;
    left: 120px;
}

.line2 {
    position: absolute;
    border-right: solid 2px $primaryColor;
    border-bottom: solid 2px $primaryColor;
    width: 30px;
    top: 280px;
    left: 240px;
}

.line3 {
    position: absolute;
    border-right: solid 2px $primaryColor;
    border-bottom: solid 2px $primaryColor;
    height: 30px;
    top: 480px;
    left: 120px;
}

.line4 {
    position: absolute;
    border-right: solid 2px $primaryColor;
    border-bottom: solid 2px $primaryColor;
    height: 30px;
    top: 690px;
    left: 120px;
}

.arrow {
    color: $primaryColor;
    position: absolute;
    top: 500px;
    left: 109px;
    font-size: 25px;
}

.downloadResume {
    margin-left: 55px;
    margin-top: 120px;
    border: solid 1px $primaryColor;
    background:$background;
    color: $primaryColor;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    padding: 20px;
    &:hover {
        background: $primaryColor;
        color: $background;
    }
}