$primaryColor: #20ee80;
$primaryColor2: #20ee8015;
$background: #070e1b;

.projects {
    margin: 240px 0px 20px 0px;
    color: white;
}

.title {
    font-size: 50px;
    margin-left: 20px;
    width: 20%;
}